<h2>Posts</h2>

<table>
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Body</th>
  </thead>
  <tbody>
    {{#each posts}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.body}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

